.container{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.top{
	display: block;
	width: 90%;
	height: 60px;
}

.rectangles{
	display: inline-block;
	border: 2px dashed black;
	height: 40px;
	width: 8%;
	margin: 10px;
	float: right;
	font-family: sans-serif;
	font-size: 10pt;
	font-style: italic;
	padding: 5px;
	border-radius: 5px;
}

.big{
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 10px solid black;
	position: relative;
	float: right;

}

.middle{
	width: 90%
	padding: 50px;
	margin: 10px;
	height: auto;
	display:block;
	position: relative;
	left: 30px;

}

.tall{
	width: 740px;
	height: 300px;
	display: block;
	border: 2px solid black;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-size: 20pt;
	line-height: 80px;
	padding: 80px;

}

.medium{
	width: 900px;
	height: 50px;
	display: block;
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: georgia;
	letter-spacing: 2px;
	text-align: center;
}

.bottom{
	display: inline-block;
	width: 95%;
	height: auto;
	position: relative;
}

.left{
	float: left;
}

.squish{
	width: 1000px;
}