body{
	background-color: darkturquoise;
	font-family: trebuchet ms;
	font-size: 30pt;
	height: 100%;
	margin:0;
	width: 100%;
	text-transform: none;
}

html{
	height: 50%;
	margin:0;
}

a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover{
	color: white;
}


footer{
	position: absolute;
	max-height: 140px;
}

p{
	display: inline-block;
	width: 70%;
	position: relative;
	left: 15%;
}

.wrapper{
	min-height: 100%;
	margin-bottom: 140px;
}

.white{
	background-color: white;
	border: 3px solid firebrick;
}

.blue{
	background-color: darkturquoise;
	border: 3px solid blue;
}

.gray{
	background-color: gray;
	border: 3px solid goldenrod;
}

.gold{
	background-color: goldenrod;
	border: 3px solid firebrick;
}

.red{
	background-color: firebrick;
	border: 3px solid black;
}

.round{
	height: 78px;
	width: 78px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 7px;
}

.square{
	height: 78px;
	width: 100px;
	position: relative;
	left: 40px;
	top: -2px;
	border-top: 3px solid inherit;
	border-bottom: 3px solid inherit;
	border-left: none;
	border-right: none;
	display: inline-block;
}

.wbox{
	height: 100px;
	background-color: white;
	width: 100%;
}

.bbox{
	height: 120px;
	width: 100%;
	background-color: darkturquoise;
	padding-top: 10px;
}

.ybox{
	height: 140px;
	width: 100%;
	background-color: goldenrod;
	padding-top: 10px;
}

.last{
	width: 43px;
}
