body{
	background-color: navy;
	color: white;
	font-family: courier new;
	font-size: 30pt;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: blue;
}

a:visited{
	color: gray;
	font-size: 35pt;
}