body{
	background-color: black;
	color: white;
	font-size: 30pt;
	font-family: sylfaen;
}

a{
	text-decoration: none;
	font-size: 32pt;
	text-transform: uppercase;
	color: white;
}

a:hover{
	color: crimson;
}

p{
	padding: 10%;

}