.bluebox{

	height: 265px;
	width: 350px;
	background-color: mediumblue;
	color: white;
	text-align: center;
	font-size: 10px;
	font-family: arial;
	padding-top: 110px;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.bluebox:hover{
	background-color: blue;
	font-size: 60px;
	padding-top: 10px;
	height: 365px;
	line-height: 65px;
	letter-spacing: 0px;
	text-transform: lowercase;
	color: mediumblue;

}

body{
	background-color: black;
	font-family: helvetica
}

.redbox{
	background-color: darkred;
	color: darkred;
	display: inline-block;
	width: 100px;
	height: 175px;
	position: relative;
	top: 100px;
	padding: 10px;
	float: right;

}

.redbox:hover{
	background-color: crimson;
	color: darkred;
	font-weight: bold;
}

.periwinkle{
	background-color: #735686;
	color: white;
	display: inline-block;
	height: 190px;
	width: 150px;
	padding: 10px 10px 10px;
	float: right;
	position:relative;
	top: 110px;
	text-align: right;
	line-height: 24px;
}

.periwinkle:hover{
	background-color: blueviolet;
	color: black;
	line-height: 14px;
	font-size: 20px;
	letter-spacing: 20px;
}

.purple{
	color: white;
	background-color: mediumvioletred;
	display: inline-block;
	width: 300px;
	height: 120px;
	margin-top:10px;
	font-size: 11pt;
	text-align: center;
}

.purple:hover{
	background-color: darkorchid;
	font-family: garamond;
	font-style: italic;
	font-size: 20px;
	line-height: 30px;
	text-align: right;
}

.pink{
	color: black;
	background-color: #ff0073;
	display: block;
	width: 350px;
	height: 200px;
	display: inline-block;
	float: right;
	position: relative;
	top: 525px;
	left: 295px;
	padding: 10px;
	font-size: 15pt;
 	line-height: 25px;
}

.pink:hover{
	background-color: magenta;
	text-align: right;
	font-style: italic;
	letter-spacing: -2px;
	line-height: 20px;
}

.right{
	width: 400px;
	height: auto;
	float: right;
	margin: 10px;
}

.left{
	float: right;
	display: inline-block;
	height: 385px;
	width: 150px;
}

.wrapper{
	float: left;
	display: inline-block;	
}