a{
	text-decoration: none;
	color: black;
	font-family: georgia;
}

body{
	background-image: url("stars.jpg");
	font-family: cambria;
	font-size: 20pt;
}

.planet{
	border-radius: 50%;
	border: 10px solid green;
	background-color: green;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: auto;
} 

.moon{
	border-radius: 50%;
	border: 2px solid antiquewhite;
	height: 50px;
	width: 50px;
	background-color: antiquewhite;
	text-align: center;
	display: inline-block;
}
.links{
	margin: auto;
}
#Octavia{
	font-family: cambria;
	font-size: 30pt;
	float: right;
	color: white;

}

#title{
	font-size: 100pt;
	color: white;
	font-family: georgia;
	letter-spacing: 2px;
	margin: 10px;
}

.head{
	float: right;
}

