a{
	text-decoration: none;
	color: black;
	font-family: georgia;
}

body{
	background-image: url("stars.jpg");
	background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(50,50,50,0.8)),
  to(rgba(80,80,80,0.2)), color-stop(.5,#333333));
}

.planet{
	border-radius: 50%;
	border: 10px solid black;
	width: 100px;
	height: 100px;
} 

.moon{
	border-radius: 50%;
	border: 2px solid antiquewhite;
	height: 50px;
	width: 50px;
	background-color: antiquewhite;
	text-align: center;
	display: inline-block;
}

#Octavia{
	font-family: cambria;
	font-size: 30pt;
	float: right;
	color: white;

}

#title{
	font-size: 100pt;
	color: white;
	font-family: georgia;
	letter-spacing: 2px;
	margin: 10px;
}

.head{
	float: right;
}

